[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pync = "*"
schedule = "*"
daemonize = "*"
notify2 = "*"
requests = "*"
dbus-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
